:focus {
  outline: 4px solid red;
  opacity: 1;
}
ytd-grid-video-renderer, ytd-compact-video-renderer, ytd-video-renderer {
  opacity: 0.7;
}

.ytd-shelf-renderer ytd-grid-video-renderer:focus {
  padding-right: 0 !important;
}

#items.yt-horizontal-list-renderer ytd-grid-video-renderer:focus {
  margin-right: 4px;
}
